:root {
  --background-body: #0d1117;
  --background: #161b22;
  --background-bright: rgba(240, 246, 252, 0.15);
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #c9d1d9;
  --text-bright: #e3e9f0;
  --text-muted: #8b949e;
  --special-text: #f7fd04;
  --focus: #388bfd;
  --focus-background: #0c2d6b;
  --border: #21252c;
  --border-muted: #21262d;
  --border-bright: #8b949e;
  --button-hover: #324759;
  --form-placeholder: #a9a9a9;
}
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border: var(--border-bright) solid .5px;
  margin: 0;

}
nav a{
  color: var(--text-bright);
}

nav a:hover {
  text-decoration: none;
  color: var(--border-bright)
}
nav a:active {
  color: var(--special-text)
}
body nav:first-of-type:before {
  backdrop-filter: saturate(180%) blur(10px);
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbutton {
  margin: 1vw;
  background-color: var(--special-text);
  color: var(--background);
}

#liftLink {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

#liftLink:hover {
  color: var(--background-bright);
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 80vw;
  background-image: url(https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin-top: 0;
  padding-top: 0;
}

.colorBlock {
  background-color: var(--special-text);
  color: var(--background);
  padding: 0.25rem;
  border-radius: 8px;
}

.like:active {
  background-color: #1c76c500;
}

h2 {
  display: inline-block;
  background-blend-mode: overlay;
}

img {
  max-width: 40vw;
  max-height: 40vh;
  border-radius: 12px;

}
.card {
  margin-top: 0;
  border: var(--border-bright) solid .5px;

  padding: .5em 1em;
}
.postCardTop {
  padding: 1vh 0;
  gap: 1.5vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.postCardBottom {
  display: flex;
  padding: 1vh 0;
  gap: 1.5vw;
  align-items: baseline;
  justify-content: flex-start;
  color: var(--text-muted);
}
.inputCard {
  display: flex;
  flex-direction: row;
  padding: 1vh 0;
  gap: 1.5vw;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  
}
.addbtn {
  color: var(--background);
  background-color: var(--special-text);
  
}

#addBtn {
  font-size: 1.2rem;
  text-align: center;
}
.profileHeaderWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  border-bottom: var(--border-bright) solid .5px;
  padding: .5em 1em;

  
}

.accountImg {
  
  align-self: center;
  max-width: 10vw;
  max-height: 12vh;
  border: solid 2px #e3bc5e;
  padding: 1vh;
}
