{% extends 'base.html' %}
{% block title %}
  LiftLink - Friends
{% endblock%}
{% block content %}

<div class="followerFollowed">
    <h1>Follows</h1>
    <ul>
        {% for follower in follows %}
            <a href="{% url 'profile' follower.id %}">
                <li>@{{ follower }}</li>
            </a>
        {% endfor %}
        </ul>
        <h1>Followers</h1>
        <ul>
            {% for following in followers %}
            <a href="{% url 'profile' following.id %}">
                <li>@{{ following }}</li>
            </a>
            {% endfor %}
            </ul>
</div>
  
{% endblock %}