{% extends "base.html" %}

{% block title %}
  LiftLink - {{ request.user.username }}
{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Welcome <span class="colorBlock">{{ request.user.username }}!</span></h1>
{% for post in posts %}
<div class="card">
  <div class="postCardTop">
  <p class="user">@{{ post.user.username }}</p>
  <p>{{ post.body }}</p>
  <br>
  {% if post.image %}
  <img src="{{ post.image.url }}" alt="{{ post.user.username }}" />
  {% endif %}
  </div>
      <div class="postCardBottom">
          <p>{{ post.created_date }}</p>
          <button class="like">👊</button>
      </div>
  
</div>
{% endfor %} 
{% endblock %}
