{% extends "base.html" %}

{% block title %}
  LiftLink - {{ profile.user.username }}
{% endblock %}

{% block content %}
{% csrf_token %}

<h1><span class="colorBlock">{{ profile.user.username|upper }}</span></h1>

<div class="FollowBtns">
  {% if profile in user.profile.follows.all %}
  <button>Unfollow</button>
  {% else %}
  <button>Follow</button>
  {% endif %}

</div>

<a href="{% url 'profile_list' %}">
  <h3>Follows:</h3>
  
   <p>
     {{ profile.follows.all|length }}
   </p>
</a>

<a href="{% url 'profile_list' %}">
  <h3>Followers:</h3>
  
    <p>
      {{ profile.followed_by.all|length }}
    </p>
</a>

{% for post in posts %}
<div class="card">
  <div class="postCardTop">
  <p class="user">@{{ post.user.username }}</p>
  <p>{{ post.body }}</p>
  <br>
  {% if post.image %}
  <img src="{{ post.image.url }}" alt="{{ post.user.username }}" />
  {% endif %}
  </div>
      <div class="postCardBottom">
          <p>{{ post.created_date }}</p>
          <button class="like">👊</button>
      </div>
  
</div>
{% endfor %} 
{% endblock %}
