{% extends "base.html" %}

{% block title %}
  LiftLink - New Workout
{% endblock %}

{% block content %}
<div class="card">
<h1>Let's see what you got done today!</h1>

  <div class="inputCard">
    <form id='workout' @submit.prevent action="{% url 'newWorkout' %}" method="POST">
      {% csrf_token %}
      {{ workout }}
    </form>
    
    <form v-for='form in counter' id="exercise" action="{% url 'newWorkout' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      
      
      <button id="saveBtn" type="submit">Save</button>
    </form>
  </div>
  <div id="addBtn">
    <label>Add an Exercise
      <button type='button' @click="addForm" class="addbtn">+</button></label>
    </div>
  </div>
    
  

  
{% endblock %}