{% extends "base.html" %}

{% block title %}
  LiftLink - Workouts
{% endblock %}

{% block content %}

<div class="card">
  <h1>You have tracked {{ workouts|length }} workouts with us so far!</h1>
  {% for workouts in workouts %}

  <div class="exerciseList">
    <p>
      <a href="{% url 'exercise_list' workouts.id %}">
        {{ workouts|title }}
      </a>
      logged on {{ workouts.created_date}}
    </p>
  </div>
  <!-- <br> -->
  <!-- {% for exercise in workouts.exercises.all %}
  
  <h5>{{ exercise.name }}</h5>
    <p>
      {{ exercise.sets }} sets of {{ exercise.reps }} repetitions{% if exercise.weight %} @ {{ exercise.weight }} lbs {% endif %}
    </p>
      <p>Notes: {{ exercise.notes }}</p> -->

  <!-- {% endfor %} -->
  <!-- <hr> -->
  {% endfor %}
</div>
  
{% endblock %}