{% extends "base.html" %}

{% block title %}
  LiftLink - Workouts
{% endblock %}

{% block content %}

<div class="card">
  <h1 id="workoutsTitle">You have tracked <span class="colorBlock">{{ workouts.user|length }}</span> workouts with us so far!</h1>
  {% for workouts in workouts %}

  <div class="exerciseList">
    <p>
      <a id='listedWorkout' href="{% url 'exercise_list' workouts.id %}">
        {{ workouts|title }}
      </a>
      - {{ workouts.created_date|date:"n/d/Y" }}
    </p>
  </div>
  
  {% endfor %}
</div>
  
{% endblock %}